{% extends 'users/index.html.twig' %}

{% block title %}Edit profile
{% endblock %}

{% block flash %}
	{% for message in app.flashes('message') %}
		<div class="col-xl-12">
			<div class="alert alert-danger">{{ message }}</div>
		</div>
	{% endfor %}
{% endblock %}

{% block content %}
	<!-- Change Password -->
	<div class="widget change-password">
		<h3 class="widget-header user">Edit Password</h3>
		<form method='POST'>
			<!-- Current Password
																		<div class="form-group">
																			<label for="current-password">Current Password</label>
																			<input type="password" class="form-control" id="current-password">
																		</div> -->
			<!-- New Password -->
				<div class="form-group"> <label for="new-password">New Password</label>
				<input type="password" class="form-control" name="new-password" id="new-password">
			</div>
			<!-- Confirm New Password -->
			<div class="form-group">
				<label for="confirm-password">Confirm New Password</label>
				<input type="password" class="form-control" name="confirm-password" id="confirm-password">
			</div>
			<!-- Submit Button -->
			<button class="btn btn-transparent">Change Password</button>
		</form>
	</div>

{% endblock %}
